@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Orelega+One&display=swap');
.header{
  box-sizing: border-box;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 20px;
  background: linear-gradient(45deg, #5F0F40 0%, #0F4C5C 100%);
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 0px 0px 0px 0px;
}

.header-info{
  flex: 1;
  width: 350px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  overflow: visible;
  z-index: 5;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 0px 0px 0px 0px;
}

.header-info h1{
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  z-index: 1;
  font-weight: bold;
  font-style: normal;
  font-family: "Orelega One", sans-serif;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0em;
  line-height: 1.1;
  text-align: left;
  align-self:flex-end;
}

.header-info ul {
  width: 300px;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 0px 0px 0px 0px;
  list-style: none;
}

.header-info ul li a{
  font-weight: 500;
  font-style: normal;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-decoration: none;
}

.header-info ul li a img{
  width:20px;
  height: 20px;
}

.hero-intro{
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 20px 60px 20px;
  background-color: #0f4c5c;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0;
  border-radius: 0px 0px 0px 0px;
}

.hero-intro-info{
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1000px;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 40;
  border-radius: 0px 0px 0px 0px;
}

.hero-intro-info h3{
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  overflow: visible;
  font-weight: 400;
  font-style: normal;
  font-family: "Orelega One", sans-serif;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: center;
}

.hero-intro-info img{
  width: 126px;
  height: 125px;
  border-radius: 148px;
}

.hero-intro-info p{
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  overflow: visible;
  font-weight: 700;
  font-style: normal;
  font-family: "DM Sans", "DM Sans Placeholder", sans-serif;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.05em;
  line-height: 1.3;
  text-align: center;
}

.hero-skill{
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px 40px 20px;
  background-color: #000000;
  align-content: center;
  flex-wrap: nowrap;
  gap: 60;
  border-radius: 0px 0px 0px 0px;
}

.skill-item{
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: visible;
  padding: 0px 0px 0px 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 30;
  border-radius: 0px 0px 0px 0px;
}

.skill-item img{
  width: 100%;
  height: 350px;
}

.skill-item p {
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 300px;
  overflow: visible;
  font-weight: 700;
  font-style: normal;
  font-family: "DM Sans", "DM Sans Placeholder", sans-serif;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.025em;
  line-height: 1.5;
  text-align: left;
}

.greeting{
  box-sizing: border-box;
  width: 100%;
  height: 233px;
  display: flex;
  overflow: hidden;
  opacity: 0.90;
  background-image: url('/greetingbg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px 0px 0px 0px;

}

.greeting h1 {
  flex: 1;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 1000px;
  z-index: 10;
  align-self: center;
  font-weight: 400;
  font-style: normal;
  font-family: "Orelega One", sans-serif;
  color: #2c2929;
  font-size: 30px;
  letter-spacing: 0em;
  line-height: 1.1;
  text-align: center;
}

.mymedsos{
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 20px 40px 20px;
  background-color: #190f5c;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0;
  border-radius: 0px 0px 0px 0px;
}

.mymedsos-info{
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 40;
  border-radius: 0px 0px 0px 0px;
}

.mymedsos-info h1{
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  overflow: visible;
  font-weight: 400;
  font-style: normal;
  font-family: "Orelega One", sans-serif;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0em;
  line-height: 1.5;
  text-align: left;
}

.mymedsos-info p{
  width: 600px;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  overflow: visible;
  font-weight: 500;
  font-style: normal;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0em;
  line-height: 1.5;
  text-align: left;
}

.mymedsos-info ul{
  width: min-content;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 30;
  border-radius: 0px 0px 0px 0px;
  list-style: none;
}

.mymedsos-info ul li{
  margin-left: 10px;
}

.mymedsos-info ul li a img{
  width: 32px;
  height: 32px;
}



.contact-me{
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px 60px 20px;
  background-color: #0f4c5c;
  overflow: visible;
  align-content: center;
  flex-wrap: nowrap;
  gap: 20;
  border-radius: 0px 0px 0px 0px;
}

.contact-me h1{
  width: auto;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 800px;
  overflow: visible;
  font-weight: 400;
  font-style: normal;
  font-family: "Orelega One", sans-serif;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0em;
  line-height: 1.2;
}

.contact-me p{
  width: 500px;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  overflow: visible;
  font-weight: 500;
  font-style: normal;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.5;
  text-align: center;
}

.contact-me button{
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 20px 15px 20px;
  background-color: #000000;
  overflow: visible;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
}

footer{
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px 40px 20px;
  background-color: #000000;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  gap: 40;
  border-radius: 0px 0px 0px 0px;
}

footer img{
  width: auto;
  height: auto;
}

footer p{
  width: auto;
  height: auto;
  white-space: pre;
  overflow: visible;
  font-weight: 500;
  font-style: normal;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.5;
  text-align: left;
}

